.idea
*/.terraform
**.lock.hcl

/core-talos/01-talos/.terraform/
/core-talos/01-talos/*.tfstate*
/core-talos/01-talos/*.tfplan
/core-talos/01-talos/crash*.log
/core-talos/01-talos/secrets.yaml
/core-talos/02-platform/prepare-hook/initial-secret.yaml
!/core-talos/01-talos/.terraform.lock.hcl
