jellyfin.home {
    tls internal
    reverse_proxy jellyfin:8096
}

torrent.home {
    tls internal
    reverse_proxy vpn:8080
}

#adguard.home {
#    tls internal
#    reverse_proxy adguard:80
#}

portainer.home {
    tls internal
    reverse_proxy portainer:9000
}

#infisical.home {
#    tls internal
#    reverse_proxy infisical:8080
#}

ca.home {
    tls internal
    root * /data/caddy/pki/authorities/local
    @file path /root.crt
    handle @file {
        header Content-Type "application/x-x509-ca-cert"
        header Content-Disposition "attachment; filename=\"caddy-root.crt\""
        file_server
    }
    @alias path /caddy-root.crt
    rewrite @alias /root.crt

    file_server browse
}